// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2022 StarFive Technology Co., Ltd.
 */

/dts-v1/;

#include "jh7110.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/pinctrl-starfive-jh7110.h>
/ {
	#address-cells = <2>;
	#size-cells = <2>;
	model = "StarFive VisionFive V2";
	compatible = "starfive,jh7110";

	signature {
			key-VF2_fit_key {
					required = "conf";
					algo = "sha256,rsa2048";
					rsa,r-squared = <0x8e4015fd 0xe9dea710 0x988193e1 0x2f378979 0xd9578649 0xf008a824 0x1ff557d2 0xf3181b56 0x3b695b66 0xe9d938eb 0xc63bc328 0x511fc0df 0x5c9c143e 0x7c6af852 0x6cd41008 0x0e6189a3 0x58b5b6d1 0x26a64fa0 0x84c89d28 0xc8381eab 0xc41c49d9 0x9fc9d489 0x0056b31e 0x5317684b 0x17b96764 0x44af1125 0xd5a00a20 0xfd128b7e 0x0e112d9f 0x5a333648 0x80f26377 0xbc0ec3fc 0x49ced45d 0x505ebcb2 0x5375301f 0x898f9a23 0xc8932371 0x87b380a8 0x50f0270e 0x516ba1a0 0x71384fd9 0xc652e354 0x0fc20aa9 0xfdb149bb 0x6551febd 0xd63a0214 0xb9ac005b 0x80becc42 0x6806a2a7 0xe45686b5 0xa7b428ae 0xa230efc4 0x8a068ef6 0xdf1b4978 0x1d551d31 0x8eb18f91 0x20154d7c 0x49159095 0xc7821247 0xd3ee241f 0x57470ca1 0xc0ab74f1 0x04da379f 0xc680c9d8>;
					rsa,modulus = <0xa8ee1a75 0x64524297 0xcb2cc73d 0x6b84d3ec 0x906c7b97 0xf5e66fa7 0x6b52ec62 0xd4d110fe 0x9edfe6c7 0xa76fdddd 0x8868ef31 0x78c67aee 0xc73147e5 0xd7ac460c 0x74c283ff 0xb11cd0e8 0xf91e4c2d 0x24fe223a 0x4f8fa2ee 0x6640882d 0x3ca84746 0x80046895 0x26b3e105 0x78272405 0x415274da 0xf0642e9f 0x8d393b0b 0xaffa0ae9 0xcac805b1 0x768f583c 0x0553a575 0xcc6bf22f 0x6caf0b3d 0x3a154256 0x6b9f30fc 0x9ef10322 0x7583a4e2 0xb881f956 0xb116dfdc 0x5b053d97 0x3340f3e7 0xf7bf24c2 0x5e67d245 0x741b2bb0 0x1fb64514 0x3803f921 0x9f8b1cb5 0xd4c287e8 0xcc400797 0x7ef3364b 0xf844011f 0x0118f259 0x9ccc1732 0x6f6ee3fe 0x6aca7b48 0x1a4d7c69 0xc23083f9 0x19eab691 0x8d61e827 0x781ea460 0x87388388 0x750e375f 0x1b4f81d8 0xb82c1f6b>;
					rsa,exponent = <0x00000000 0x00010001>;
					rsa,n0-inverse = <0x9e5feabd>;
					rsa,num-bits = <0x00000800>;
					key-name-hint = "VF2_fit_key";
					u-boot,dm-spl;
			};
	};

	aliases {
		spi0="/soc/spi@13010000";
		gpio0="/soc/gpio@13040000";
		ethernet0=&gmac0;
		ethernet1=&gmac1;
		mmc0=&sdio0;
		mmc1=&sdio1;
		i2c0 = &i2c5;
	};

	chosen {
			stdout-path = "/soc/serial@10000000:115200";
			starfive,boot-hart-id = <1>;
	};


	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x1 0x0>;
	};

	reserved-memory {
			#size-cells = <2>;
			#address-cells = <2>;
			ranges;

			opensbi {
				reg = <0x00 0x40000000 0x00 0x80000>;
				no-map;
			};
	};

	soc {
	};

	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio 35 GPIO_ACTIVE_HIGH>;
	};
};

&cpu0 {
	status = "okay";
};

&clkgen {
	clocks = <&osc>, <&gmac1_rmii_refin>,
		<&stg_apb>, <&gmac0_rmii_refin>;
	clock-names = "osc", "gmac1_rmii_refin",
		"stg_apb", "gmac0_rmii_refin";
};

&gpio {
	status = "okay";
	gpio-controller;
	uart0_pins: uart0-0 {
		tx-pins {
			pinmux = <GPIOMUX(5, GPOUT_SYS_UART0_TX,
						GPOEN_ENABLE, GPI_NONE)>;
			bias-disable;
			drive-strength = <12>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pinmux = <GPIOMUX(6, GPOUT_LOW,
						GPOEN_DISABLE, GPI_SYS_UART0_RX)>;
			bias-pull-up;
			drive-strength = <2>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	mmc0_pins: mmc0-pins {
		 mmc0-pins-rest {
			pinmux = <GPIOMUX(62, GPOUT_SYS_SDIO0_RST,
						GPOEN_ENABLE, GPI_NONE)>;
			bias-pull-up;
			drive-strength = <12>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	sdcard1_pins: sdcard1-pins {
		sdcard1-pins0 {
			pinmux = <GPIOMUX(10, GPOUT_SYS_SDIO1_CLK,
						GPOEN_ENABLE, GPI_NONE)>;
			bias-pull-up;
			drive-strength = <12>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		sdcard1-pins1 {
			pinmux = <GPIOMUX(9, GPOUT_SYS_SDIO1_CMD,
						GPOEN_SYS_SDIO1_CMD, GPI_SYS_SDIO1_CMD)>;
			bias-pull-up;
			drive-strength = <12>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};

		sdcard1-pins2 {
			pinmux = <GPIOMUX(11, GPOUT_SYS_SDIO1_DATA0,
						GPOEN_SYS_SDIO1_DATA0, GPI_SYS_SDIO1_DATA0)>;
			bias-pull-up;
			drive-strength = <12>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};

		sdcard1-pins3 {
			pinmux = <GPIOMUX(12, GPOUT_SYS_SDIO1_DATA1,
						GPOEN_SYS_SDIO1_DATA1, GPI_SYS_SDIO1_DATA1)>;
			bias-pull-up;
			drive-strength = <12>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};

		sdcard1-pins4 {
			pinmux = <GPIOMUX(7, GPOUT_SYS_SDIO1_DATA2,
						GPOEN_SYS_SDIO1_DATA2, GPI_SYS_SDIO1_DATA2)>;
			bias-pull-up;
			drive-strength = <12>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};

		sdcard1-pins5 {
			pinmux = <GPIOMUX(8, GPOUT_SYS_SDIO1_DATA3,
						GPOEN_SYS_SDIO1_DATA3, GPI_SYS_SDIO1_DATA3)>;
			bias-pull-up;
			drive-strength = <12>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};

	pcie0_perst_default: pcie0_perst_default {
		perst-pins {
			pinmux = <GPIOMUX(26, GPOUT_HIGH, GPOEN_ENABLE, GPI_NONE)>;
			drive-strength = <2>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	pcie0_perst_active: pcie0_perst_active {
		perst-pins {
			pinmux = <GPIOMUX(26, GPOUT_LOW, GPOEN_ENABLE, GPI_NONE)>;
			drive-strength = <2>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	pcie0_wake_default: pcie0_wake_default {
		wake-pins {
			pinmux = <GPIOMUX(32, GPOUT_HIGH, GPOEN_ENABLE, GPI_NONE)>;
			drive-strength = <2>;
			input-enable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	pcie0_clkreq_default: pcie0_clkreq_default {
		clkreq-pins {
			pinmux = <GPIOMUX(27, GPOUT_HIGH, GPOEN_ENABLE, GPI_NONE)>;
			drive-strength = <2>;
			input-enable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	pcie1_perst_default: pcie1_perst_default {
		perst-pins {
			pinmux = <GPIOMUX(28, GPOUT_HIGH, GPOEN_ENABLE, GPI_NONE)>;
			drive-strength = <2>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	pcie1_perst_active: pcie1_perst_active {
		perst-pins {
			pinmux = <GPIOMUX(28, GPOUT_LOW, GPOEN_ENABLE, GPI_NONE)>;
			drive-strength = <2>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	pcie1_wake_default: pcie1_wake_default {
		wake-pins {
			pinmux = <GPIOMUX(21, GPOUT_HIGH, GPOEN_ENABLE, GPI_NONE)>;
			drive-strength = <2>;
			input-enable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	pcie1_clkreq_default: pcie1_clkreq_default {
		clkreq-pins {
			pinmux = <GPIOMUX(29, GPOUT_HIGH, GPOEN_ENABLE, GPI_NONE)>;
			drive-strength = <2>;
			input-enable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};

	i2c2_pins: i2c2-0 {
		i2c-pins {
			pinmux = <GPIOMUX(3, GPOUT_LOW,
				  GPOEN_SYS_I2C2_CLK,
				  GPI_SYS_I2C2_CLK)>,
				 <GPIOMUX(2, GPOUT_LOW,
				  GPOEN_SYS_I2C2_DATA,
				  GPI_SYS_I2C2_DATA)>;
			bias-disable; /* external pull-up */
			input-enable;
			input-schmitt-enable;
		};
	};

	i2c5_pins: i2c5-0 {
		i2c-pins {
			pinmux = <GPIOMUX(19, GPOUT_LOW,
				  GPOEN_SYS_I2C5_CLK,
				  GPI_SYS_I2C5_CLK)>,
				 <GPIOMUX(20, GPOUT_LOW,
				  GPOEN_SYS_I2C5_DATA,
				  GPI_SYS_I2C5_DATA)>;
			bias-disable; /* external pull-up */
			input-enable;
			input-schmitt-enable;
		};
	};

	hdmi_pins: hdmi-0 {


		cec-pins {
			pinmux = <GPIOMUX(14, GPOUT_SYS_HDMI_CEC_SDA,
				  GPOEN_SYS_HDMI_CEC_SDA,
				  GPI_SYS_HDMI_CEC_SDA)>;
			bias-pull-up;
			input-enable;
		};

		hpd-pins {
			pinmux = <GPIOMUX(15, GPOUT_LOW,
				  GPOEN_DISABLE,
				  GPI_SYS_HDMI_HPD)>;
			input-enable;
		};
	};
};

&sdio0 {
	assigned-clocks = <&clkgen JH7110_SDIO0_CLK_SDCARD>;
	assigned-clock-rates = <50000000>;
	fifo-depth = <32>;
	bus-width = <8>;
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>;
	status = "okay";
};

&sdio1 {
	assigned-clocks = <&clkgen JH7110_SDIO1_CLK_SDCARD>;
	assigned-clock-rates = <50000000>;
	fifo-depth = <32>;
	bus-width = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdcard1_pins>;
	status = "okay";
};

&gmac0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	phy0: ethernet-phy@0 {
		rgmii_sw_dr_2 = <0x0>;
		rgmii_sw_dr = <0x3>;
		rgmii_sw_dr_rxc = <0x6>;
		rxc_dly_en = <0>;
		rx_delay_sel = <0xa>;
		tx_delay_sel_fe = <5>;
		tx_delay_sel = <0xa>;
		tx_inverted_10 = <0x1>;
		tx_inverted_100 = <0x1>;
		tx_inverted_1000 = <0x1>;
	};
};

&gmac1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	phy1: ethernet-phy@1 {
		rgmii_sw_dr_2 = <0x0>;
		rgmii_sw_dr = <0x3>;
		rgmii_sw_dr_rxc = <0x6>;
		tx_delay_sel_fe = <5>;
		tx_delay_sel = <0>;
		rxc_dly_en = <0>;
		rx_delay_sel = <0x2>;
		tx_inverted_10 = <0x1>;
		tx_inverted_100 = <0x1>;
		tx_inverted_1000 = <0x0>;
	};
};

&uart0 {
	reg-offset = <0>;
	current-speed = <115200>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};

&i2c5 {
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <3000>;
	i2c-scl-falling-time-ns = <3000>;
	auto_calc_scl_lhcnt;
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c04";
		reg = <0x50>;
		pagesize = <16>;
	};

	pmic: axp15060_reg@36 {
               compatible = "stf,axp15060-regulator";
               reg = <0x36>;
	};

};

&gpioa {
	status = "disabled";
};

&usbdrd30 {
	status = "okay";
};

&usbdrd_cdns3 {
	dr_mode = "peripheral";
};

&pcie0 {
	pinctrl-names = "perst-default", "perst-active", "wake-default", "clkreq-default";
	pinctrl-0 = <&pcie0_perst_default>;
	pinctrl-1 = <&pcie0_perst_active>;
	pinctrl-2 = <&pcie0_wake_default>;
	pinctrl-3 = <&pcie0_clkreq_default>;
	status = "okay";
};

&pcie1 {
	pinctrl-names = "perst-default", "perst-active", "wake-default", "clkreq-default";
	pinctrl-0 = <&pcie1_perst_default>;
	pinctrl-1 = <&pcie1_perst_active>;
	pinctrl-2 = <&pcie1_wake_default>;
	pinctrl-3 = <&pcie1_clkreq_default>;
	status = "okay";
};

&timer {
	status = "disabled";
};

&wdog {
	status = "disabled";
};

&clkvout {
	status = "okay";
};

&pdm {
	status = "disabled";
};

&mipi_dsi0 {
	status = "okay";
	rockchip,panel = <&rm68200_panel>;
	data-lanes-num = <1>;
	display-timings {
		timing0 {
		bits-per-pixel = <24>;
		clock-frequency = <160000000>;
		hfront-porch = <120>;
		hsync-len = <20>;
		hback-porch = <21>;
		hactive = <1200>;
		vfront-porch = <21>;
		vsync-len = <3>;
		vback-porch = <18>;
		vactive = <1920>;
		hsync-active = <0>;
		vsync-active = <0>;
		de-active = <1>;
		pixelclk-active = <0>;
		};
	};

};

&hdmi{
	pinctrl-names = "default";
	pinctrl-0 = <&hdmi_pins>;
	status = "okay";
};

&i2c2 {
	clock-frequency = <100000>;
	i2c-sda-hold-time-ns = <300>;
	i2c-sda-falling-time-ns = <3000>;
	i2c-scl-falling-time-ns = <3000>;
	auto_calc_scl_lhcnt;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;
	status = "okay";

	rm68200_panel: rm68200_panel@45 {
		compatible = "raydium,rm68200";
		reg = <0x45>;

	};


};

